//config
@import '../styles/variables';
//layout
@import '../styles/reboot';

$border: #40a9ff;
$box-shadow: #d1e9ff;

.orange-select {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 240px;
  height: 32px;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans,
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  line-height: 1.5714285714285714;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border-color: #40a9ff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px $box-shadow;
    transition: all 0.5s;
  }

  .orange-select-selection-search {
    input {
      margin: 0;
      padding: 0;
      background: 0 0;
      border: none;
      outline: none;
      appearance: none;
    }
  }

  .orange-select-arrow {
    color: #c7c7c7;
    svg {
      width: 12px;
      height: 12px;
    }
  }
}


//select列表 
.orange-select-dropdown{
    position: absolute; 
    background: red;
    padding: 4px;
    margin: 0;
    border-radius: 8px;
    min-height: 55px;
}